---
import CategoryFilter from "@/components/astro/CategoryFilter.astro";
import GalleryBanner from "@/components/astro/GalleryBanner.astro";
import ImageLists from "@/components/astro/ImageLists.astro";
import Sort from "@/components/react/Sort";
import PageLayout from "@/layouts/PageLayout.astro";
import type { Slug } from "@/lib/generated/sanity.types";
import { useLoadQuery } from "@/sanity/lib/useLoadQuery";
import type { SanityDocument } from "@sanity/client";

export async function getStaticPaths() {
  const { data: categories } = await useLoadQuery<SanityDocument[]>({
    query: `*[_type == "category"]`,
  });

  return categories.map(({ slug }) => {
    return {
      params: {
        slug: slug.current,
      },
    };
  });
}

const { params } = Astro;

const { data: posts } = await useLoadQuery<SanityDocument[]>({
  query: `*[_type == "post" && $slug in categories[]->slug.current]{
  title,
  slug,
  mainImage,
  album,
  author->{
    name,
    slug,
    image,
    bio
  },
  categories[]-> {
    title,
    slug,
  },
  publishedAt
}`,
  params,
});
---

<PageLayout title="Gallery">
  <main class="min-h-screen">
    <GalleryBanner posts={posts} />
    <section class="section py-16">
      <ImageLists posts={posts} displayAlbum>
        <div class="flex w-full justify-between">
          <CategoryFilter />
          <Sort client:load posts={posts} />
        </div>
      </ImageLists>
    </section>
  </main>
</PageLayout>
