---
import CategoryFilter from "@/components/astro/CategoryFilter.astro";
import GalleryBanner from "@/components/astro/GalleryBanner.astro";
import ImageLists from "@/components/astro/ImageLists.astro";
import Sort from "@/components/react/Sort";
import PageLayout from "@/layouts/PageLayout.astro";
import { useLoadQuery } from "@/sanity/lib/useLoadQuery";
import type { SanityDocument } from "@sanity/client";

const { data: posts } = await useLoadQuery<SanityDocument[]>({
  query: `*[_type == "post"]{
  ...,
  author->{
    name,
    slug,
    image,
    bio
  }
}`,
});
---

<PageLayout title="Gallery">
  <GalleryBanner posts={posts} />
  <section class="section py-16">
    <ImageLists posts={posts} displayAlbum>
      <CategoryFilter baseURL="gallery/" />
      <!-- <Sort client:load /> -->
    </ImageLists>
  </section>
</PageLayout>
