---
import { useLoadQuery } from "@/sanity/lib/useLoadQuery";
import { useUrlForImage } from "@/sanity/lib/useUrlForImage";
import type { SanityDocument } from "@sanity/client";
import { getImage } from "astro:assets";
import "@styles/Banner.css";

const { data: content } = await useLoadQuery<SanityDocument[]>({
  query: `*[_type == "webContent" && slug.current == "need-a-photographer-banner"]`,
});

const banner = await getImage({
  src: useUrlForImage(content[0].image).url(),
  format: "webp",
  inferSize: true,
});
---

<div
  class="banner-wrapper"
  data-attribute="dark"
  style={{ backgroundImage: `url(${banner.src})` }}
>
  <p class="text --small">Need a photographer?</p>
  <a href="/services" class="text --large">Let's work together</a>
  <div class="banner-overlay"></div>
</div>
