<footer class="footer">
      <div class="contact-me">
        <h3>Contact Information</h3>
        <p><i class="fa fa-envelope"></i> : lornami@gmail.com</p>
        <p><i class="fa fa-phone"></i> : +63 977 123 7892</p>

        <p>
          <i class="fa fa-map-marker"></i> : Block 9 Lot 7 San Isidro
          Resettlement, Magalang, Pampanga
        </p>
      </div>
      <div class="blank-space"></div>
      <div class="services">
        <h3>Current availability</h3>
        <p>
          We usually work on several projects but we’ll be happy to discuss new
          opportunities. Let’s get in touch!
        </p>
      </div>
      <div class="follow-me">
        <h3>Follow us on</h3>
        <ul class="link-list">
          <li>
            <a href="#">Facebook</a>
          </li>
          <li>
            <a href="#">Instagram</a>
          </li>
        </ul>
      </div>
      <div class="developer-brand">
        <p><i class="fa fa-copyright"></i>Justine Hornales</p>
        <p>Made with ♥ in Pampanga, Philippines</p>
      </div>
</footer>