---
import Envelope from "../../assets/icons/Envelope.astro";
import Phone from "../../assets/icons/Phone.astro";
import MapPin from "../../assets/icons/MapPin.astro";
---

<footer class="footer relative z-20 bg-white">
  <div class="contact-me">
    <h3>Contact Information</h3>
    <p><Envelope />&#58; lornami@gmail.com</p>
    <p><Phone />&#58;+63 977 123 7892</p>

    <p>
      <MapPin />&#58; Block 9 Lot 7 San Isidro Resettlement, Magalang, Pampanga
    </p>
  </div>
  <div class="blank-space"></div>
  <div class="services">
    <h3>Current availability</h3>
    <p>
      We usually work on several projects but we&apos;ll be happy to discuss new
      opportunities. Let&apos;s get in touch!
    </p>
  </div>
  <div class="follow-me">
    <h3>Follow us on</h3>
    <ul class="link-list">
      <li>
        <a href="#">Facebook</a>
      </li>
      <li>
        <a href="#">Instagram</a>
      </li>
    </ul>
  </div>
  <div class="developer-brand">
    <p><i class="fa fa-copyright"></i>Justine Hornales</p>
    <p>Made with ♥ in Pampanga, Philippines</p>
  </div>
</footer>
