---
import { useLoadQuery } from "@/sanity/lib/useLoadQuery";
import { useUrlForImage } from "@/sanity/lib/useUrlForImage";
import type { SanityDocument } from "@sanity/client";
import { getImage } from "astro:assets";

interface Props {
  posts: SanityDocument[];
}

const { data: images } = await useLoadQuery<SanityDocument[]>({
  query: `*[_type == "images" && slug.current == "gallery-banner"]`,
});

const cover = await getImage({
  src: useUrlForImage(images[0].image).url(),
  format: "webp",
  inferSize: true,
});
---

<div
  class="relative h-[500px] bg-cover"
  style={{ backgroundImage: `url(${cover.src})` }}
>
  <div
    class="absolute left-0 top-0 flex h-full w-full flex-col items-center justify-center bg-black bg-opacity-75 bg-blend-overlay"
  >
    <h1
      class="pointer-events-none max-w-3xl font-montserrat text-4xl font-semibold text-white"
    >
      {images[0].description}
    </h1>
  </div>
</div>
