---
import type { SanityDocument } from "@sanity/client";
import "@styles/Highlights.css";
import { useLoadQuery } from "../../sanity/lib/useLoadQuery";
import { Image } from "astro:assets";
import { useUrlForImage } from "../../sanity/lib/useUrlForImage";

const { data: posts } = await useLoadQuery<SanityDocument[]>({
  query: `*[_type == "post"][0..15] | order(publishedAt desc)`,
});
---

<section class="highlights-section section">
  <div class="highlight-wrapper max-h-screen">
    <h1 class="section-title">Highlights</h1>
    <p class="section-sub-title">
      <q class="quotes">
        If you don&#39;t think photos are important, wait until they&#39;re all
        you have left.
      </q>
      <span class="author"> &#45; Missy Mwac </span>
    </p>

    <div class="highlights-gallery">
      {
        posts.map((post) => (
          <div class="highlights-gallery-item">
            <Image
              src={useUrlForImage(post.mainImage).url()}
              alt={post.title}
              class="highlights-gallery-image"
              inferSize
            />
          </div>
        ))
      }
    </div>
    <div class="highlights-see-more">
      <button data-button="see-more">See More</button>
    </div>
  </div>
</section>

<script>
  const moreButton = document.querySelector("[data-button='see-more']");
  const galleryWrapper = document.querySelector(".highlight-wrapper");
  const seeMoreWrapper = document.querySelector(".highlights-see-more");

  moreButton?.addEventListener("click", () => {
    console.log("test");
    galleryWrapper?.classList.toggle("max-h-screen");
    seeMoreWrapper?.classList.toggle("invisible");
  });
</script>
