---
import type { SanityDocument } from "@sanity/client";
import { useLoadQuery } from "@/sanity/lib/useLoadQuery";
import ImageLists from "../react/common/ImageLists";
import useCompilePosts from "@/sanity/lib/useCompilePosts";

const { data: posts } = await useLoadQuery<SanityDocument[]>({
  query: `*[_type == "post"][0..15] | order(publishedAt desc)`,
});

const compiledPosts = useCompilePosts(posts, false);
---

<section class="section bg-white pb-16">
  <p class="section-sub-title">
    <q class="italic">
      If you don&#39;t think photos are important, wait until they&#39;re all
      you have left.
    </q>
    <span class="font-semibold"> &#45; Missy Mwac </span>
  </p>
  <ImageLists client:load posts={compiledPosts} displaySeeMore />
</section>
