---
import type { SanityDocument } from "@sanity/client";
import { useLoadQuery } from "@/sanity/lib/useLoadQuery";
import ImageLists from "@/components/react/common/ImageLists";
import useCompilePosts from "@/sanity/lib/useCompilePosts";

const { data: posts } = await useLoadQuery<SanityDocument[]>({
  query: `*[_type == "post"][0..15] | order(publishedAt desc)`,
});

const compiledPosts = useCompilePosts(posts, false);
---

<section class="section highlight-section bg-white pb-16">
  <p class="section-sub-title">
    <q class="italic">
      If you don&#39;t think photos are important, wait until they&#39;re all
      you have left.
    </q>
    <span class="font-semibold"> &#45; Missy Mwac </span>
  </p>
  <ImageLists client:load posts={compiledPosts} displaySeeMore />
</section>

<script>
  const element = document.querySelector(".gallery-wrapper");

  function disableScroll() {
    window.addEventListener("wheel", preventScroll, { passive: false });
  }

  function enableScroll() {
    window.removeEventListener("wheel", preventScroll);
  }

  function preventScroll(e: Event) {
    e.preventDefault();
  }

  const observerCallback = (entries: IntersectionObserverEntry[]) => {
    entries.forEach((entry) => {
      if (entry.intersectionRatio >= 0.5) {
        disableScroll();
        const elementPosition = entry.boundingClientRect.top;
        window.scrollTo({
          top: elementPosition + window.scrollY,
          left: 100,
          behavior: "smooth",
        });

        setTimeout(() => {
          enableScroll();
        }, 1000);
      }
    });
  };

  const observerOptions = {
    threshold: 0.5,
  };

  const observer = new IntersectionObserver(observerCallback, observerOptions);

  if (element) {
    observer.observe(element);
  }
</script>
