---
import type { SanityDocument } from "@sanity/client";
import { useLoadQuery } from "@/sanity/lib/useLoadQuery";
import ImageLists from "@/components/react/common/ImageLists";
import useCompilePosts from "@/sanity/lib/useCompilePosts";

const { data: posts } = await useLoadQuery<SanityDocument[]>({
  query: `*[_type == "post"][0..15] | order(publishedAt desc)`,
});

const compiledPosts = useCompilePosts(posts, false);
---

<section id="highlight-section" class="section min-h-highlight">
  <p class="section-sub-title">
    <q class="italic" data-aos="fade-left">
      If you don&#39;t think photos are important, wait until they&#39;re all
      you have left.
    </q>
    <span class="font-semibold" data-aos="fade-left"> &#45; Missy Mwac </span>
  </p>
  <ImageLists client:load posts={compiledPosts} displaySeeMore />
</section>
