---
import MenuButton from "@/components/react/navigation/MenuButton";
import "@styles/Navigation.css";
import Menu from "@/components/react/navigation/Menu";
import BrandLogo from "@/components/react/navigation/BrandLogo";
import { useLoadQuery } from "@/sanity/lib/useLoadQuery";
import type { SanityDocument } from "@sanity/client";
import { getImage } from "astro:assets";
import { useUrlForImage } from "@/sanity/lib/useUrlForImage";

const { data: images } = await useLoadQuery<SanityDocument[]>({
  query: `*[_type == "images" && slug.current == "menu-overlay"]`,
});

const optimizedBackground = await getImage({
  src: useUrlForImage(images[0].image).url(),
  format: "webp",
  inferSize: true,
});
---

<nav class="navigation-bar">
  <div class="z-40 w-1/2">
    <BrandLogo client:load />
  </div>
  <div class="z-40 flex w-1/2 justify-end align-middle">
    <MenuButton client:load />
  </div>
  <Menu client:load cover={optimizedBackground} />
</nav>
