---
import type { SanityDocument } from "@sanity/client";
import { useLoadQuery } from "../../sanity/lib/useLoadQuery";
import {
  Accordion,
  AccordionContent,
  AccordionItem,
  AccordionTrigger,
} from "@/lib/ui/accordion";
import { Button } from "@/lib/ui/button";

import "@styles/Questions.css";
import CustomAccordion from "../react/CustomAccordion";

const { data: questions } = await useLoadQuery<SanityDocument[]>({
  query: `*[_type == "faqs"][0..5] | order(publishedAt desc)`,
});
---

<section class="faqs">
  <div class="questions-wrapper">
    <div class="faqs-header">
      <h3 class="title">Frequently asked questions</h3>
      <p class="max-w-2xl">
        <span>
          Have a different question and can&apos;t find the answer you&apos;re
          looking for? Reach out to our support team by
        </span>
        <a class="contact-us-link" href="#">sending us an email</a>
        <span> and we&apos;ll get back to you as soon as we can. </span>
      </p>
    </div>

    <CustomAccordion
      accordionClass="questions"
      itemClass="item"
      triggerClass="trigger"
      contentClass="content"
      accordionItems={questions}
      client:load
    />
  </div>
</section>
