/* The integration's default injected base.css file */
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base {
  @font-face {
    font-family: "OPTIBakerDanmark";
    src:
      url("/fonts/optibakerdanmarkone-webfont.woff2") format("woff2"),
      url("/fonts/optibakerdanmarkone-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Optitomaso";
    src:
      url("/fonts/optitomaso-extended-webfont.woff2") format("woff2"),
      url("/fonts/optitomaso-extended-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
}
