/* The integration's default injected base.css file */
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base {
  @font-face {
    font-family: "OPTIBakerDanmark";
    src:
      url("/fonts/optibakerdanmarkone-webfont.woff2") format("woff2"),
      url("/fonts/optibakerdanmarkone-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Optitomaso";
    src:
      url("/fonts/optitomaso-extended-webfont.woff2") format("woff2"),
      url("/fonts/optitomaso-extended-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat-Italic-VariableFont_wght") format("ttf");
    font-weight: normal;
    font-style: normal;
  }

  :root {
    --radius: 0.5rem;
  }
}

.section {
  @apply relative z-30 my-16 flex min-h-screen w-full flex-col bg-white p-12 text-center;
}

.section-title {
  @apply text-2xl font-black tracking-wider md:text-3xl;
}

.section-sub-title {
  @apply my-4 font-serif text-xl md:text-2xl;
}

html {
  @apply scrollbar-thin scrollbar-track-cream scrollbar-thumb-primaryDark;
}

body {
  @apply bg-white;
}

html body[data-scroll-locked] {
  --removed-body-scroll-bar-size: 0 !important;
  margin-right: 0 !important;
  overflow: auto !important;
}

.gallery-banner h1 {
  @apply pointer-events-none max-w-3xl font-montserrat text-4xl font-semibold text-white;
}
