---
import ContactForm from "@/components/astro/ContactForm.astro";
import PageLayout from "@/layouts/PageLayout.astro";
---

<PageLayout title="Contact us" disableTransform>
  <section class="flex h-screen w-full bg-cover">
    <div class="m-auto flex w-full max-w-7xl">
      <div class="w-full p-5">
        <ContactForm />
      </div>

      <div class="w-full bg-white">a</div>
    </div>
  </section>
</PageLayout>
