---
import GalleryBanner from "@/components/astro/GalleryBanner.astro";
import PageLayout from "@/layouts/PageLayout.astro";
---

<PageLayout title="Gallery">
  <main class="min-h-screen">
    <GalleryBanner />
  </main>
</PageLayout>
