---
import type { SanityDocument } from "@sanity/client";
import PageLayout from "../layouts/PageLayout.astro";
import { useLoadQuery } from "../sanity/lib/useLoadQuery";
import { useUrlForImage } from "../sanity/lib/useUrlForImage";
import "./index.css";

const { data: images } = await useLoadQuery<SanityDocument[]>({
  query: `*[_type == "images" && slug.current == "hero-section-photo"]`,
});
---

<PageLayout title="Home Page">
  <div class="cover-photo-wrapper">
    <div class="cover-photo-overlay"></div>
    <img class="cover-photo" src={useUrlForImage(images[0].image).url()} />
  </div>
  <div class="z-10 h-screen w-full bg-white"></div>
</PageLayout>
