---
import PageLayout from "../layouts/PageLayout.astro";
import "@styles/index.css";
import Highlights from "components/astro/Highlights.astro";
import Hero from "@/components/astro/Hero.astro";
import Banner from "@/components/react/home/Banner";
import Questions from "@/components/react/home/Questions";
---

<PageLayout title="Home" disableTransform={false}>
  <Hero />
  <div class="relative z-30 bg-white">
    <Highlights />
    <Banner client:visible />
    <Questions client:visible />
  </div>
</PageLayout>

<script></script>
