---
import PageLayout from "@/layouts/PageLayout.astro";
import { useLoadQuery } from "@/sanity/lib/useLoadQuery";
import { useUrlForImage } from "@/sanity/lib/useUrlForImage";
import type { SanityDocument } from "@sanity/client";
import { PortableText } from "astro-portabletext";
import "@styles/Services.css";
import Pricing from "@/components/react/services/Pricing";

const { data: content } = await useLoadQuery<SanityDocument[]>({
  query: `*[_type == "webContent" && slug.current == "services-header"]`,
});
---

<PageLayout title="Services" disableTransform>
  <section class="services-header">
    <div class="content-wrapper">
      <div class="column --left">
        <span
          class="text-xs tracking-widest text-zinc-700 lg:text-base"
          data-aos="fade-down"
        >
          — PRIVATE CONSULTATION</span
        >
        <span data-aos="fade-left">
          <PortableText value={content[0].body} />
        </span>
      </div>
      <div class="column --right">
        <img
          src={useUrlForImage(content[0].image).url()}
          alt={content[0].title}
          loading="eager"
          data-aos="zoom-in-left"
        />
      </div>
    </div>
    <div class="disclaimer wrapper">
      <span data-aos="fade-up" data-aos-delay="300">
        <PortableText value={content[0].body2} />
      </span>
    </div>
  </section>
  <section class="pricing-section">
    <div class="pricing-header">
      <h2 class="label" data-aos="fade-up" data-aos-offset="300">
        — PRICING —
      </h2>
      <h3 class="quote" data-aos="fade-up" data-aos-offset="300">
        A package for every type of shoot
      </h3>
      <p class="sub-quote" data-aos="fade-up" data-aos-offset="300">
        Work with us to capture your vision with one of our tailored photography
        packages. From portraits to full-scale events, we have something for
        everyone.
      </p>
    </div>
    <Pricing client:load />
  </section>
</PageLayout>
