---
import PageLayout from "@/layouts/PageLayout.astro";
import { useLoadQuery } from "@/sanity/lib/useLoadQuery";
import { useUrlForImage } from "@/sanity/lib/useUrlForImage";
import type { SanityDocument } from "@sanity/client";
import { PortableText } from "astro-portabletext";
import { Image } from "astro:assets";
import "@styles/Services.css";
import Pricing from "@/components/astro/Pricing.astro";

const { data: content } = await useLoadQuery<SanityDocument[]>({
  query: `*[_type == "webContent" && slug.current == "services-header"]`,
});
---

<PageLayout title="Services" disableTransform>
  <section class="services-header">
    <div class="content-wrapper">
      <div class="column --left">
        <span class="text-xs tracking-widest text-zinc-700 lg:text-base">
          — PRIVATE CONSULTATION</span
        >
        <PortableText value={content[0].body} />
      </div>
      <div class="column --right">
        <Image
          src={useUrlForImage(content[0].image).url()}
          alt={content[0].title}
          loading="eager"
          inferSize
        />
      </div>
    </div>
    <div class="disclaimer wrapper">
      <PortableText value={content[0].body2} />
    </div>
  </section>
  <section class="pricing-section">
    <div class="pricing-header">
      <h2 class="label">— PRICING —</h2>
      <h3 class="quote">A package for every type of shoot</h3>
      <p class="sub-quote">
        Work with us to capture your vision with one of our tailored photography
        packages. From portraits to full-scale events, we have something for
        everyone.
      </p>
    </div>
    <Pricing />
  </section>
</PageLayout>
