---
import type { SanityDocument } from "@sanity/client";
import { useLoadQuery } from "@/sanity/lib/useLoadQuery";
import { useUrlForImage } from "@/sanity/lib/useUrlForImage";

export async function getStaticPaths() {
  const { data: posts } = await useLoadQuery<SanityDocument[]>({
    query: `*[_type == "post"]`,
  });

  return posts.map(({ slug }) => {
    return {
      params: {
        slug: slug.current,
      },
    };
  });
}

const { params } = Astro;

const { data: post } = await useLoadQuery<SanityDocument>({
  query: `*[_type == "post" && slug.current == $slug][0]`,
  params,
});
---

<h1>A post about {post.title}</h1>
{
  post.mainImage && (
    <img src={useUrlForImage(post.mainImage).width(400).url()} />
  )
}
